@import "config";

.button {
  background-color: $red;
  border: none;
  border-radius: 0.3125em;
  width: 250px;
  height: 40px;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center;
  transition-property: color, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: $black;
    color: $red;
  }

  &--cart {
    background-color: $white;
    border: 1px solid $black;
    text-align: left;
    width: auto;
    padding: 0 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $red;
      color: $black;
    }
  }

  &__text {
    margin: 0 0.5em;
  }
}


