
main {
  margin: 0 auto;
  max-width: $max-width;
  padding-left: 20px;
  padding-right: 20px;
}

.grid {
  margin: 2.5em 0;

  &__row {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    margin-right: -10px;

    @media (min-width: $bpoint__narrow) {
      flex-direction: row;
    }

    &--form {
      flex-direction: row;
      align-items: center;
    }

    &--info {
      @media (min-width: $bpoint__wide) {
        justify-content: center;
      }
    }

    &--button {
      align-items: center;

      @media (min-width: $bpoint__narrow) {
        flex-direction: column;
      }
    }
  }

  &__col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1.5em;

    &--text {
      display: flex;
      flex-direction: column;

      @media (min-width: $bpoint__narrow) {
        width: 66.66666%;
        justify-content: space-between;
      }
    }

    &--image {
      @media (min-width: $bpoint__narrow) {
        max-width: 33.3333%;
      }
    }

    &--info {
      display: flex;
      flex-direction: column;

      @media (min-width: $bpoint__narrow) {
        width: 50%;
      }

      @media (min-width: $bpoint__wide) {
        width: 33.33333%;
      }
    }

    &--label {
    height: 40px;
    line-height: 40px;
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__order {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }


}

.form__product {
  display: flex;
  align-items: flex-end;

  @media (max-width: $bpoint__slim) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {

    @media (max-width: $bpoint__slim) {
      margin: $slim__boxes 0;
    }

    &--quantity {
      display: flex;
      flex-direction: column;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0.5em 0;

  @media (max-width: $bpoint__slim) {
    flex-direction: column;
    align-items: flex-start;
    margin: $slim__boxes;
  }

  &--ccexp {
    @media (max-width: $bpoint__slim) {
      flex-direction: row;
      align-items: center;
      margin: $slim__boxes;
    }
  }

  &__name {
    width: 35%;

    &--ccexp {
      width: auto;
    }
  }

  &__input {
    width: 60%;
    height: 40px;

    &--ccexp {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__ccexp {
      height: 100%;
    }
  }
}

input {
  border: 1px solid $black;
  border-radius: 0.3125em;
  width: 7.5em;
  height: 40px;
  padding-left: 0.5em;
}

.price {
  font-size: 2em;
}



.image {
  max-width: 100%;
}

