
main {
  margin: 0 auto;
  max-width: $max-width;
  padding-left: 20px;
  padding-right: 20px;
}

.grid {

  &__row {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    margin-right: -10px;

    @media (min-width: $bpoint__narrow) {
      flex-direction: row;
    }

    &--form {
      flex-direction: row;
      align-items: center;
    }
  }

  &__col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    &--text {
      display: flex;
      flex-direction: column;

      @media (min-width: $bpoint__narrow) {
        width: 66.66666%;
        justify-content: space-between;
      }
    }

    &--image {
      @media (min-width: $bpoint__narrow) {
        max-width: 33.3333%;
      }
    }

    &--info {
      @media (min-width: bpoint__narrow) {
        width: 50%;
      }
    }

    &--label {
    height: 40px;
    line-height: 40px;
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__order {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }


}

.form__product {
  display: flex;
  align-items: flex-end;

  &__item {

    &--quantity {
      display: flex;
      flex-direction: column;
    }
  }
}

input {
  border: 1px solid $black;
  border-radius: 0.3125em;
  width: 7.5em;
  height: 40px;
  padding-left: 0.5em;
}


.image {
  max-width: 100%;
}

