// TODO stillingar hér

$max-width: 1200px;
$gutter: 20px;

// Color palette
$black: #000000;
$white: #ffffff;
$green: #afb281;
$blue: #cee8ff;
$yellow: #fcffd2;
$red: #cc9694;

// Font sizes: 12 14 16 18 21 24 36 48 60


// Breakpoints
$bpoint__slim: 450px;
$bpoint__narrow: 700px;
$bpoint__wide: 1000px;


// Margins
$slim__boxes: 0.1em;

// Main
main {
  margin: 0 auto;
  max-width: $max-width;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $max-width) {
    padding-left: 0;
    padding-right: 0,
  }
}