// TODO stillingar hér

$max-width: 1200px;
$gutter: 20px;

// Color palette
$black: #000000;
$white: #ffffff;
$green: #afb281;
$blue: #cee8ff;
$yellow: #fcffd2;
$red: #cc9694;

// Font sizes: 12 14 16 18 21 24 36 48 60


// Breakpoints
$bpoint__narrow: 700px;
$bpoint__wide: 1000px;

// Grids

// Footer Grid

.grid {

  &__row {
    margin: auto;
    max-width: $max-width;
  }

  &__col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;

    @media (min-width: $bpoint__wide) {
      flex-wrap: nowrap;
    }
  }
}
