// TODO stillingar hér

$max-width: 1200px;

// Color palette
$black: #000000;
$white: #ffffff;
$green: #afb281;
$blue: #cee8ff;
$yellow: #fcffd2;
$red: #cc9694;

// Font sizes: 12 14 16 18 21 24 36 48 60
