@import "config";

.footer {
  background-color: $red;

  &__grid {

    &__row {
      margin: auto;
      max-width: $max-width;
    }

    &__col {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 10px;
      margin-right: 10px;

      @media (min-width: $bpoint__wide) {
        flex-wrap: nowrap;
      }
    }
  }

  &__box {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;

    @media (min-width: $bpoint__wide) {
      width: 25%;
    }
  }

  &__title {
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    padding: 1.5em 0 0 0;
    font-size: 24px;
    font-weight: bolder;
  }

  &__links {
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
  }

  &__link {
    display:inline-flex;
    color: $white;
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 16px;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    text-decoration: none;
    padding-top: 1em;
  }

  &__link:hover {
    color: $black;
  }

  &__company {
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    text-align: center;
    font-size: 12px;
    padding: 3em 0 3em 0;
  }
}
