@import "config";

.section {
  margin: 2em auto 2em auto;
  max-width: $max-width;

  &__cards {
    display: flex;
    flex-direction: column;
  }

  &__card {
    display: inline-flex;
    flex-direction: row;
    margin-left: 10px;

    @media (max-width: $bpoint__narrow) {
      flex-direction: column;
    }
  }

  &__card:nth-of-type(2) {
    flex-direction: row-reverse;
    @media (max-width: $bpoint__narrow) {
      flex-direction: column;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 2em 10px 2em 10px;

    @media (max-width: $bpoint__narrow) {
      width: 100%;
    }
    @media (min-width: $bpoint__wide) {
      margin-left: 0px;
    }
  }

  &__title {
    font-size: 36px;
    font-family: 'Oswald', Verdana, serif;

    @media (max-width: $bpoint__narrow) {
      font-size: 48px;
    }
  }

  &__text {
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 24px;
    padding-top: 1em;
    padding-bottom: 1em;

    @media (max-width: $bpoint__narrow) {
      font-size: 36px;
    }
  }

  &__image {
    display: flex;
    max-width: 100%;
    flex: auto;

    @media (min-width: $bpoint__wide) {
      margin-left: 0px;
    }
  }

}
